<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
    
        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div class="item"
                :class="currentSlideIndex !== i ? 'd-none' : 'd-block'"
                v-for="(currentSlide,i) in slides"
                >
                    <img
                     :src="slides[currentSlideIndex].image"
                    />
                    <div class="text">
                        <h3>{{ currentSlide.title }}</h3>
                        <p>
                           {{ currentSlide.text }}
                        </p>
                    </div>
                </div>

                <div class="thumbs_arrow">
                    <div class="prev" @click="currentSlideIndex > 0 ? currentSlideIndex-- : currentSlideIndex = 4"></div>
                    <div class="next" @click="currentSlideIndex < 4 ? currentSlideIndex++ : currentSlideIndex = 0"></div>
                </div>
                
                <div class="thumbs" >
                    <div class="thumb" v-for="(currentSlide,i) in slides">
                        <img @click="currentSlideIndex = i" :src="currentSlide.image" alt="Svezia" />
                    </div>
                </div>
            </div>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>